/*
 * No point in refactoring this untill a preprocessor is installed.
 * This file is litterally margins, paddings and modals. Not much else.
 * But yeah, tbh it's just a spaghetti code.
 */

 .aside {
	 width: 100%;
	 min-height: 700px;
	 height: 100vh;
	 position: relative;
 }

 @media (max-width: 767.5px){
	 .aside{
		 min-height: 550px;
	 }
 }

 .content {
	 width: 100%;
	 height: 100vh;	
 }

 .height-parent {
	 height: 100%;
 }

.form {
	min-height: max-content;
}

.mg-b--100{
	margin-bottom: -100px;
}

.content {
	position: relative;
}

.positions {
	min-height: 30vh;
	height: max-content;
	max-height: 60vh;
	overflow: scroll;
}



.aside .button--stable{
	max-width: 95%;
}

@media (min-height: 475px){
	.button--stable {
		position: absolute;
		bottom: 5%;
		right: 50%;
		transform: translateX(50%);
	}
}
/* 
.radio{
	width: 20px;
	height: 20px;
} */

.mg-l-1 {
	margin-left: 1px !important;
}

.mg-r-1{
	margin-right: 1px !important;
}

.mg-r-5 {
	margin-right: 5px !important;
}

.mg-b-0 {
	margin-bottom: 0;
}

.hidden {
	display: none !important;
	position: absolute !important;
	pointer-events: none !important;
}

.pd-h-10{
  padding: 0 10px;
}

.pd-15 {
	padding: 15px;
}

.mg-b-10{
	margin-bottom: 10px !important;
}

.mg-t-15 {
	margin-top: 15px;
}

.mg-t-35 {
	margin-top: 35px;
}

.mg-h-auto {
	margin-left: auto !important;
	margin-right: auto !important;
}

.mg-r-15{
	margin-right: 15px;
}

.mg-l-15 {
	margin-left: 15px;
}

.mg-l-10 {
	margin-left: 10px;
}

.mg-l-9 {
	margin-left: 8px;
}

.mg-l-5 {
	margin-left: 5px !important;
}
.mg-r-7 {
	margin-right: 7px;
}
.mg-l--10 {
	margin-left: -10px;
}
.mg-r--15 {
	margin-right: -15px;
}
.mg-r-10 {
	margin-right: 10px;
}

.mg-b-15 {
	margin-bottom: 15px;
}
.pd-l-15 {
	padding-left: 15px !important;
}

.pd-l-20 {
	padding-left: 20px !important;
}

.pd-l-22 {
	padding-left: 22px !important;
}

.mg-l-0 {
	margin-left: 0 !important;
}
.mg-r-0 {
	margin-right: 0 !important;
}


.mg-l--15{
	margin-left: -15px;
}

.mg-l--28{
	margin-left: -28px;
}

.mg-r--28{
	margin-right: -28px;
}

.mg-r-24{
	margin-right: 24px;
}


